

<div class="body">
    <div class="foto">
        <img src="assets\Busqueda\img_viaje.jpg" alt="fotoBusqueda">
    </div>
    <div class="in">
        <div>
            <div>
                <p class="texto">¿A dónde vas?</p>
            </div>
            <input type="text" class="inputs">
        </div>
        <div>
            <div>
                <p class="texto">¿Cuántos días?</p>
            </div>
            <select class="dias" name="myFirstSelect" id="selectExample" >
                <option style="width: 50px; font-size: 15px;" value="1">1 Dia</option>
                <option style="font-size: 15px;" value="2">2 Dias</option>
                <option style="font-size: 15px;"value="3">3 Dias</option>
                <option style="font-size: 15px;"value="4">4 Dias</option>
                <option style="font-size: 15px; "value="5">5 Dias</option>
            </select>
        </div>
        <div>
            <div>
                <p class="texto">¿Búsqueda de un usuario?</p>
            </div>
            <input type="text" class="inputs">
        </div> 

    </div>
   
    <div class="btn" *ngIf="this.loged;else esFalso">
        <button class="botonLogado" type="button" (click)= "navigateToPagViaje()" >Búsqueda</button>
    </div>

    <ng-template #esFalso>
        <div class="btn" >
            <button class="botonNoLogado" type="button" (click)= "navigateToRegister()" >Búsqueda</button>
        </div>
    </ng-template>
</div>
