




<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="body">
        <div class="foto">
            <img src="assets\Busqueda\img_viaje.jpg" alt="fotoBusqueda">
        </div>
        <div class="in">
            <div>
                <div>
                    <p class="texto">¿A dónde vas?</p>
                </div>
                <input type="text" class="inputs" name="destino" ngModel required minlength="3">

                <div *ngIf="form.controls.destino.invalid && (form.controls.destino.dirty || form.controls.destino.touched)">
                    <small class="text-danger" *ngIf="form.controls.destino.errors?.required">
                        El destino es obligatorio.
                    </small>
                  
                </div>
            </div>
            <div>
                <div>
                    <p class="texto">¿Cuántos días?</p>
                </div>
                <select class="dias" name="dias" id="selectExample" ngModel required>
                    <option style="width: 50px; font-size: 15px;" value="">Selecciona una opción</option>
                    <option style="font-size: 15px;" value="1">1 Dia</option>
                    <option style="font-size: 15px;" value="2">2 Dias</option>
                    <option style="font-size: 15px;" value="3">3 Dias</option>
                    <option style="font-size: 15px;" value="4">4 Dias</option>
                    <option style="font-size: 15px;" value="5">5 Dias</option>
                </select>
                <div *ngIf="form.controls.dias.invalid && (form.controls.dias.dirty || form.controls.dias.touched)">
                    <small class="text-danger">
                        La duración del viaje es obligatoria.
                    </small>
                </div>
            </div>
            
                    <div>
                        <div>
                            <p class="texto">¿Búsqueda de un usuario?</p>
                        </div>
                        <input type="text" class="inputs" name ="usuario">
                    </div> 
                            
                </div>
               
                <div class="btn" *ngIf="this.loged;else esFalso" >
                    <button class="botonLogado" type="button" (click)= "navigateToPagViaje()" [disabled]="!form.valid">Búsqueda</button>
                </div>
            
                <ng-template #esFalso>
                    <div class="btn" >
                        <button class="botonNoLogado" type="button" (click)= "navigateToRegister()" [disabled]="!form.valid">Búsqueda</button>
                    </div>
                </ng-template>
            </div>
            
          
