
*{
    margin:0;
    box-sizing:border-box
}

.footer_container{
    position: fixed;
bottom: 0px;
}
.footer_loged{  
    /* border: 2px solid black; */
    height: 6vh;
    width: 100vw;
    background-color: #FFB800;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   
} 
.footer_noLoged{ 
     /* border: 2px solid black; */
     height: 6vh;
     width: 100vw;
     background-color:#1F8989;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     position: fixed;
     bottom: 0px;
}


.mas{
    /* border:2px solid black;  */
    height: 30%;
    width: 30%;   
    padding-left: 20px;
}
.usuario{
    height: 32%;
    width: 32%;
}
.home{
    height: 35%;
    width: 35%;
}
.buscar{
    height: 30%;
    width: 30%;
    margin-top: 2px;
}
.mail{
    height: 33%;
    width: 33%;
    padding-right: 20px;
  } 

