<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="perfil.component.css">
    <title>Perfil</title>
</head>
<h1>Perfil</h1>

<body>
    <div class="userInfo">
        <img src="" alt="perfil">
        <form>

            <input type="text" placeholder="Nombre" id="nombre" name="nombre">

            <input type="text" placeholder="Apellidos" id="apellidos" name="apellidos">

            <input type="email" placeholder="Correo electrónico" id="correo" name="correo">

            <input type="text" placeholder="Nombre de usuario" id="usuario" name="usuario">

            <input type="text" placeholder="Descripción" id="descripcion" name="descripcion">

        </form>
    </div>
    <div class="botones">
        <button type="button1">Favoritas</button>
        <button type="button2">Mis viajes</button>
    </div>
    <div class="cards">
        <div class="cards1">
            <div class="foto1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTci4UfjBX-FCF6YQw349r_fyAaBd6Of0j4vw&usqp=CAU"
                    alt="" width="100" height="100">
            </div>
            <div class="texto">
                <div class="titulo">Madrid Centro</div>
                <div class="descripcion">Descubre gran via y todas sus calles.</div>
            </div>
            <div class="like">
                <div class="user">
                    <img src="assets/Diseño_sin_título-removebg-preview (1).png" width="45" height="45">
                </div>
                <div class="likes">
                    <img src="assets/corazon.png" width="20" height="20">544
                </div>
            </div>
        </div>
        <div class="cards2">
            <div class="foto2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa63MfSCB-n_i-qPtiWK5j0Ex6e1QcykUUoA&usqp=CAU"
                    alt="" width="100" height="100">
            </div>
            <div class="texto2">
                <div class="titulo2">Málaga Costa</div>
                <div class="descripcion2">Visita la costa del sol y nunca querras irte.</div>
            </div>
            <div class="like">
                <div class="user">
                    <img src="assets/Diseño_sin_título-removebg-preview (1).png" width="45" height="45">
                </div>
                <div class="likes">
                    <img src="assets/corazon.png" width="20" height="20">428
                </div>
            </div>
        </div>
        <div class="cards3">
            <div class="foto3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkzvBJpeAqcdCMyQdKNom38AgaR_mUHiW8og&usqp=CAU"
                    alt="" width="100" height="100">
            </div>
            <div class="texto3">
                <div class="titulo3">Sevilla</div>
                <div class="descripcion3">Disfruta de su color y su encanto.</div>
            </div>
            <div class="like">
                <div class="user">
                    <img src="assets/Diseño_sin_título-removebg-preview (1).png" width="45" height="45">
                </div>
                <div class="likes">
                    <img src="assets/corazon.png" width="20" height="20">152
                </div>
            </div>
        </div>
    </div>
</body>

</html>
