<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="perfil.component.css">
    <title>Perfil</title>
</head>
<body>
    <main>
        <h1>Perfil</h1>
        
        <div class="userInfo">
    
            <div class="profile_photo">
                <img src={{user.photo}} alt="perfil">
            </div>
    
            <section>
                <div name="nombre">{{user.name}}</div>
                <div name="apellido">{{user.surname}}</div>
                <div name="email">{{user.email}}</div>
                <div name="nombre">{{user.username}}</div>
                <div id="descripcion" name="descripcion">{{user.descripcion}}</div>
            </section>
        </div>
        
        <div class="botones">
           <button [ngClass]="{'active': showFavs}" class="button1" type="button" (click)="mostrarFavoritas()">Favoritas</button>
           <button [ngClass]="{'active': !showFavs}" class="button1" type="button" (click)="mostrarMisViajes()">Mis viajes</button>
        </div>
        
        <div class="cards" *ngIf="showFavs ; else misviajes">

            <div class="card" *ngFor="let fav of user.favs; let i = index">
                <div class="img">
                    <img src="https://media.istockphoto.com/id/1059076792/es/foto/madrid-ciudad-skyline-gran-v%C3%ADa-calle-crep%C3%BAsculo-espa%C3%B1a.jpg?s=612x612&w=0&k=20&c=gWGpBRHVNJleHrVRmetRPTFuau_aahvCUKDMNfCrMNE="
                        alt="" width="100" height="100">
                </div>
                <div class="info">
                    <div class="title">{{ fav.titulo }}</div>
                    <div class="desc">{{ fav.descripcion }}</div>
                </div>
                <div class="like">
                    <div class="user">
                        <img src="assets/perfil.png" width="45" height="45">
                    </div>
                    <div class="likes">
                        <img src="assets/corazon.png" width="20" height="20">
                        <p>{{ this.user.favs[i].likes }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <ng-template #misviajes>
            <div class="card" *ngFor="let viaje of user.misviajes; let i = index"> 

                <div class="img">
                    <img src="https://media.istockphoto.com/id/1059076792/es/foto/madrid-ciudad-skyline-gran-v%C3%ADa-calle-crep%C3%BAsculo-espa%C3%B1a.jpg?s=612x612&w=0&k=20&c=gWGpBRHVNJleHrVRmetRPTFuau_aahvCUKDMNfCrMNE="
                        alt="" width="100" height="100">
                </div>
                <div class="info">
                    <div class="title">{{ viaje.titulo }}</div>
                    <div class="desc">{{ viaje.descripcion }}</div>
                </div>
                <div class="like">
                    <div class="user">
                        <div *ngIf="showIcons" class="iconos">
                            <button type="button" class="icono" (click)="editarViaje(i)">
                              <img src="assets/lapiz.png" width="25" height="25" alt="editar">
                            </button>
                            <button type="button" class="icono" (click)="borrarViaje(i)">
                              <img src="assets/borrar.png" width="25" height="25" alt="borrar">
                            </button>
                          </div>
                    </div>
                    <div class="likes">
                      <img src="assets/corazon.png" width="20" height="20">
                      <p>{{ this.user.favs[i].likes }}</p>
                    </div>
                  </div>
                  
                  
            </div>
 
        </ng-template>
        
       
    
</main>
</body>

</html>
