
    
    <main>
        <h1>Perfil</h1>
        
        <div class="userInfo">

            <div class="ajustesProfile"> 
                 <div class="profile_photo">
                    <img src={{user.photo}} alt="perfil">
                </div>
                <div class="ajustesymensaje" *ngIf ="loged; else esFalso">
                    <button type="button" class="icono" (click)="ajustesPerfil()"> Editar
                    </button>
                </div>
                <!-- cambio de boton cuando loged -->
                <ng-template #esFalso>
                    <div class="ajustesymensaje" >
                        <button type="button" class="icono" (click)="enviarMensaje()"> Mensaje
                        </button>
                    </div>
                </ng-template>
                
            </div>
          
    
            <section>
                <div name="nombre">{{user.name}}</div>
                <div name="apellido">{{user.surname}}</div>
                <div name="email">{{user.email}}</div>
                <div name="nombre">{{user.username}}</div>
                <div id="descripcion" name="descripcion">{{user.descripcion}}</div>
            </section>
        </div>
        
        <div class="botones">
           <button [ngClass]="{'active': showFavs}" class="button1" type="button" (click)="mostrarFavoritas()">Favoritas</button>
           <button [ngClass]="{'active': !showFavs}" class="button1" type="button" (click)="mostrarMisViajes()">Mis viajes</button>
        </div>
        
        <div class="cards" *ngIf="showFavs ; else misviajes">
            <ng-container *ngFor="let viaje of user.favs; let i = index">
                <app-card-viaje [viaje]="viaje"></app-card-viaje>
            </ng-container>
        </div>
        <div  class="cards"><ng-template #misviajes>
            <ng-container *ngFor="let viaje of user.misviajes; let i = index">
                <app-card-viaje [viaje]="viaje" (cardEvent)="borrarViaje($event)"></app-card-viaje>
            </ng-container>

        </ng-template>
    </div>
        
        
       
    
</main>
