<div *ngIf="userService.showHeaderFooter">
  <header *ngIf="userService.loged">
    <div class="brand">
      <div class="bolaMundo"> <img src="../../../assets/mundo amarillo.png" alt="favicon">
      </div>
     
      <p class="name">Nomads</p>
      <div class="overlay" *ngIf="menuVisible" (click)="ocultarMenu()"></div>
      <div class="menu-container" [class.visible]="menuVisible">
        <li><img src="/assets/Diseño_sin_título-removebg-preview (6).png" alt="" height="25" width="25"><a (click)="irAQuienesSomos()">¿Quiénes somos?</a></li>
        <li><img src="/assets/Diseño_sin_título-removebg-preview (5).png" alt="" height="25" width="25"><a (click)="irAContactanos()"> Contáctanos</a></li>
        <li><img src="/assets/Diseño_sin_título-removebg-preview (8).png" alt="" height="25" width="25"><a (click)="irAOnBoarding()">Onboard</a></li>
        <li id="ultimo"><img src="/assets/Diseño_sin_título-removebg-preview (10).png" alt="" height="25" width="25"><a (click)="irASobreLaApp()">Sobre la app</a></li>
      </div>
      <div class="imagen-container">
        <img class="imagenMenu" src="assets/menuHamburguesa_verde2.png" (click)="mostrarMenu()" />
      </div>

    </div>
  </header>

  <header *ngIf="!userService.loged && userService.showHeaderFooter">
     <app-header-verde></app-header-verde> 
  </header>
</div>
