

   @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Shadows+Into+Light&display=swap');

   header{
       position: fixed;
       top:0;
       left:0;
       background-color: #FFB800;
       width: 100vw;
       height: 9vh;
       z-index: 9999;
     }
   
     .brand{
       margin-left: 20px;
       margin-right: 20px;
   
       color: #1F8989;
       margin-left: 20px;
       display: flex;
       flex-direction: row;
   
     }
     img{
       margin-top: 4px;
       width: 20%;
       height: 20%;
     }
   
       .name{
           margin-top: 3px;
           font-family: 'Shadows Into Light', cursive;
           font-size: 35pt;
      }
      