<div *ngIf="showHeader">
  <header *ngIf="loged">
    <div class="brand">
      <img src="../../../assets/mundo amarillo.png" alt="favicon">
      <p class="name">Nomads</p>
      <div class="contenedor-imagen">
        <img class="menuHamburguesa" src="assets/menuHamburguesa.png" height="35" width="35" (click)="toggleMenu()">
        <ul class="menu" [ngClass]="{'show': menuActive}">
          <li><a href="/quienesSomos" (click)="activateMenu()">¿Quiénes somos?</a></li>
          <li><a href="/contactanos" (click)="activateMenu()">Contáctanos</a></li>
          <li><a href="/onBoarding" (click)="activateMenu()">Onboard</a></li>
          <li id="ultimo"><a href="/sobreLaApp" (click)="activateMenu()">Sobre la app</a></li>
        </ul>
      </div>
    </div>
  </header>

  <header *ngIf="!loged">
   <app-header-verde></app-header-verde>  <!-- hacer mejor con ngClass -->
  </header>
</div>
