<div class="add-viaje">
    <div class="title">
        <h3>Añadir viaje</h3>
    </div>
    <div class="form-area">
        <form [formGroup]="addForm" class="form">
            <!-- Nombre de Viaje -->
            <label for="nombreViaje">Nombre del Viaje</label>
            <input id="nombreViaje" type="text" formControlName="nombreViaje" class="form-control"
                [ngClass]="{'is-invalid': addForm.get('nombreViaje').invalid && (addForm.get('nombreViaje').dirty || addForm.get('nombreViaje').touched)}">
            <div *ngIf="addForm.get('nombreViaje').invalid && (addForm.get('nombreViaje').dirty || addForm.get('nombreViaje').touched)"
                class="invalid-feedback">
                El nombre del viaje es necesario
            </div>
            <!-- Descripcion Viaje -->
            <label for="descripcionViaje">Descripcion del Viaje</label>
            <input id="descripcionViaje" type="text" formControlName="descripcionViaje" class="form-control"
                [ngClass]="{'is-invalid': addForm.get('descripcionViaje').invalid && (addForm.get('descripcionViaje').dirty || addForm.get('descripcionViaje').touched)}">
            <div *ngIf="addForm.get('descripcionViaje').invalid && (addForm.get('descripcionViaje').dirty || addForm.get('descripcionViaje').touched)"
                class="invalid-feedback">
                Una breve descripcion del viaje es necesaria
            </div>
            <!-- Foto -->
            <label for="fotoViaje">Foto</label>
            <input id="fotoViaje" type="text" formControlName="fotoViaje" class="form-control"
                [ngClass]="{'is-invalid': addForm.get('fotoViaje').invalid && (addForm.get('fotoViaje').dirty || addForm.get('fotoViaje').touched)}">
            <div *ngIf="addForm.get('fotoViaje').invalid && (addForm.get('fotoViaje').dirty || addForm.get('fotoViaje').touched)"
                class="invalid-feedback">
                Una foto del viaje es necesaria
            </div>
            <div class="form day-area" formArrayName="days" *ngFor="let day of days.controls; let i = index">
                <div class="day-card">
                    <h3>Dia {{i+1}}</h3>
                    <button type="button">Añadir punto de interes</button>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" (click)="addDay()">Añadir día</button>
                <button type="button">Añadir viaje</button>
            </div>
        </form>
    </div>
</div>