.add-viaje {
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 2rem;
    font-family: var(--ff-titles);
    color: var(--green);
    margin-bottom: 2rem;
}

.title h3 {
    font-size: 2rem;
}

.line {
    margin-top: 1rem;
    width: 100%;
    height: 2px;
    background-color: var(--yellow);

}

.form-area {
    margin-top: 1rem;
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

label {
    font-family: var(--ff-main);
    margin-bottom: 0.2rem;
}

input {
    margin-bottom: 1.6rem;
    background-color: #F5F5F5;
    border-radius: 12px;
    min-height: 40px;
    border: none;
    text-align: center;
    font-family: var(--ff-main);
    overflow-y: auto;
}

.btn-area {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label {
    font-family: var(--ff-main);
    margin-bottom: 0.2rem;
}

button {
    width: 140px;
    color: #fff;
    font-size: 14px;
    padding: 0.4rem;
    border-radius: 6px;
    background-color: var(--yellow);
    border: none;
    font-family: var(--ff-main);
}

.day-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.day-card button {
    width: 80%;
}

button:disabled {
    color: #F5F5F5;
    opacity: 0.4;
}