<div class="add-viaje">
    <div class="title">
        <h3>Añadir viaje</h3>
    </div>
    <div class="form-area">
        <form [formGroup]="addForm" class="form">
       
            <label for="nombreViaje">Nombre del viaje</label>
            <input id="nombreViaje" type="text" formControlName="nombreViaje" class="form-control"
                placeholder="{{viaje.titulo}}"
                [ngClass]="{'is-invalid': addForm.get('nombreViaje').invalid && (addForm.get('nombreViaje').dirty || addForm.get('nombreViaje').touched)}">
                <!-- <div *ngIf="addForm.get('nombreViaje').invalid && (addForm.get('nombreViaje').dirty || addForm.get('nombreViaje').touched)" class="invalid-feedback"> -->
                <div *ngIf="!addForm.get('nombreViaje').valid" class="invalid-feedback">
                    <div *ngIf="addForm.get('nombreViaje').errors.required">El nombre del viaje es necesario</div>
                    <div *ngIf="addForm.get('nombreViaje').errors.maxLength">El nombre no puede tener más de 20 caracteres</div>
                </div>
                
           
            <label for="lugarViaje">Lugar de destino</label>
            <input id="lugarViaje" type="text" formControlName="lugarViaje" class="form-control"
                [ngClass]="{'is-invalid': addForm.get('lugarViaje').invalid && (addForm.get('lugarViaje').dirty || addForm.get('lugarViaje').touched)}">
            <div *ngIf="addForm.get('lugarViaje').invalid && (addForm.get('lugarViaje').dirty || addForm.get('lugarViaje').touched)"
                class="invalid-feedback">
                La ubicación del viaje es necesaria
            </div>
           
            <label for="descripcionViaje">Descripción del viaje</label>
            <input id="descripcionViaje" type="text" formControlName="descripcionViaje" class="form-control"
                [ngClass]="{'is-invalid': addForm.get('descripcionViaje').invalid && (addForm.get('descripcionViaje').dirty || addForm.get('descripcionViaje').touched)}">
            <div *ngIf="addForm.get('descripcionViaje').invalid && (addForm.get('descripcionViaje').dirty || addForm.get('descripcionViaje').touched)"
                class="invalid-feedback">
                <div *ngIf="addForm.get('descripcionViaje').errors.required"> Una breve descripción del viaje es necesaria</div>
                    <div *ngIf="addForm.get('descripcionViaje').errors.maxLength">La descripcion no puede tener más de 20 caracteres</div>
               
            </div>
            
            <label for="fotoViaje">Foto</label>
            <input id="fotoViaje" type="text" formControlName="fotoViaje" class="form-control"
                [ngClass]="{'is-invalid': addForm.get('fotoViaje').invalid && (addForm.get('fotoViaje').dirty || addForm.get('fotoViaje').touched)}">
            <div *ngIf="addForm.get('fotoViaje').invalid && (addForm.get('fotoViaje').dirty || addForm.get('fotoViaje').touched)"
                class="invalid-feedback">
                Una foto del viaje es necesaria
            </div>
        </form>
        <div class="days-area">
            <ng-container *ngFor="let dia of this.viajeService.viajeAdd.days; let i = index">
                <app-day-card [dia]="dia" [i]="i" (cardEvent)="eliminate($event)"></app-day-card>
            </ng-container>
        </div>
        <div class="btn-area">
            <button type="button" (click)="addDays()">Añadir día</button>
            <button type="button" [disabled]="addForm.invalid" (click)="addViaje()">Confirmar</button>
        </div>
    </div>
</div>