.viaje_body {
    margin-top: 9vh;
    width: 390px;
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.viaje-sticky {
    position: sticky;
    top: 9vh;
    z-index: 9;
}

#user_foto {
    border-radius: 50%;
}

.viaje_tittle_area {
    background-color: var(--green);
    color: white;
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.likes{
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

#map {
    height: 250px;
}

.map_area {
    background-image: url(https://i.pinimg.com/originals/54/ff/a7/54ffa7490b53149c3b0335e0fdad8a68.jpg);
    height: 250px;
    background-size: cover;
    margin-bottom: 1rem;
}

.days-area {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.days-area * {
    margin-block: 0.4rem;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined.liked {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  