<div class="viaje_body">
    <div class="viaje-sticky"> <!--- Poner un ngIf para viaje == undefined-->
        <div class="viaje_tittle_area">
        <span class="material-symbols-outlined" (click)="goBack()">
                arrow_back_ios
         </span>
        <h2 class ="titulo">{{viaje.titulo}}</h2>
        <div class="user-area">
            <img id="user_foto" src="{{viaje.user_foto}}" width="45" height="45">
             <div class="likes">
            <img src="assets/corazon.png" width="25" height="25" (click)="likeFunc()" [src]="fav ? 'assets/corazon.png' : 'assets/corazon_vacio.png'">
            <p class="nLikes">{{viaje.likes}}</p>
        </div>
                
    </div>
        
    </div>
    <div id="map"></div>
    </div>
    
    <div class="days-area">
        <ng-contianer *ngFor="let dia of viaje.days; index as i">
            <app-day-card [dia]="dia" [i]="i" (isOpen)="showOnMap($event)" (cardEvent)="eliminar($event)"></app-day-card>
        </ng-contianer>
    </div>
</div>
