<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="chat-privado.component.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&family=Shadows+Into+Light&display=swap"
      rel="stylesheet"
    />

    <title>Chat Privado</title>
  </head>
  <body>
    <main class="fondo">
      <div class="chat">
        <div class="barra">
          <div class="botonAtras">
            <button (click)="navegarAChats()" class="atras" type="button">
              <
            </button>
            <div class="nombreUsuario">
              <img class="imgFoto"
                src="{{this.chatService.chat.photo}}"
                alt="img"
              />
              <p>{{this.chatService.chat.username}}</p>
            </div>
          </div> 
        </div>

        <div #chatContainer class="bocadillos">
          
        
          <div class="bocadillos2" *ngIf="chatService.chat.mensajes.length >0">
            <div *ngFor="let mensaje of chatService.chat.mensajes" >
              <div [ngClass]="mensaje.emisor === userService.user_logged.user_id ? 'bocadilloAmarillo' :'bocadilloVerde'">
                {{ mensaje.mensaje_body }}
              </div>
            </div>
          </div>
        </div>

        <div class="mensaje">
          <textarea class="text"
            [(ngModel)]="mensajeActual"
            placeholder="Escribe tu mensaje..."
          ></textarea>
          <button (click)="enviarMensaje()"  class="enviar">
            <img
              class="enviar2"
              src="../../../assets/Diseño_sin_título__9_-removebg-preview.png"
              alt=""
            />
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
