*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

.fondo {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 9vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 9vh;
 
  
}

.chat{
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  
}

.barra{
  /* border: 3px solid red; */
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.nombreUsuario{

  background-color: #ffffff;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 
  gap: 6%;
  margin-top: 6%;
  margin-bottom: 2%;
  /* margin-right: 10%; */
  
}

p{
  margin-top: 5%;
  
}

img{
  
  width: 14%;
  margin-left: 5%;
}

.bocadillos{
  border-top: 2px solid rgb(137, 137, 134);
  border-bottom: 2px solid rgb(137, 137, 134);
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5%;
  overflow: auto;
  margin-top: 5%;
  

}

.bocadillo1{
  display: inline-block;
  min-height: 0;
  max-width: 90%;
  border-radius: 10px;
  border:2px solid var(--green);
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: normal;
  font-family: var(--ff-main);
  /* box-shadow:3px 3px 2px #827e7e; */
  overflow-wrap: break-word;
  margin-top: 5%;
  padding: 5px;
  align-self: flex-start;
  
}

.bocadilloMorado{
  /* border: 3px solid rgb(61, 2, 76); */
  /* height: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  
}
.bocadillo2{
  
  display: inline-block;
  min-height: 0;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--yellow);
  background-color: white;
  color: black;
  font-size: 1.2em;
  font-family: var(--ff-main);
  
  
  /* box-shadow: 3px 3px 2px #948f8f; */
  overflow-wrap: break-word;
  margin-bottom: 10px;
  margin-top: 5%;
  padding: 5px;
   align-self: flex-end;
  
}

.mensaje{
  border: none;
  height: 20.2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  
}

.atras{
 background-color: #ffffff;
  border: none;
  width: 20%;
  height: 6%;
  color:rgba(255, 184, 0, 1);
  font-size: 200%;
  font-weight: bolder;
} 

/* .bloquear{

  border: none;
  display: flex;
  justify-content: flex-end;
} */



.enviar{
  background-color: #ffffff;
  border: 1px solid rgb(158, 158, 158);
  border-left: none; 
  color: white;
  width: 40%;
  height: 36%;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
 .enviar2{
  width: 40%;
  height: 70%;
  margin-bottom: 4% ;
 }


textarea {
  border: 1px solid rgb(158, 158, 158);
  border-right: none;
  resize: none;
  overflow: hidden;
  width: 100%;
  min-height: 50px; /* altura mínima del textarea */
  max-height: 200px; /* altura máxima del textarea */
  height: 25%;
  margin-top: 2%;
  padding: 2%;
}

.botonAtras{
  /* border: 3px solid purple; */
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2%;
  
}

