*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

.fondo {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 9vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 9vh;
 
  
}

.chat{
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  
}

.barra{
  /* border: 3px solid red; */
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.nombreUsuario{

  background-color: #ffffff;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 
  gap: 6%;
  margin-top: 6%;
  margin-bottom: 2%;
   /* margin-right: 10%;  */
  
}

p{
  margin-top: 5%;
  margin-bottom: 3%;
  font-family: var(--ff-main);
  font-size: 18pt;
  font-weight: bold;
  
}

.imgFoto{
  
  width: 19%;
  margin-left: 5%;
  border-radius: 60px;
  object-fit: cover;
}

.bocadillos{
  border-top: 2px solid rgb(137, 137, 134);
  border-bottom: 2px solid rgb(137, 137, 134);
  height: 73%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5%;
  overflow: auto;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 3.5%;
  

} 

.bocadilloVerde{
  /* display: inline-block; */
  min-height: 0;
  max-width: 90%;
  border-radius: 10px;
  border:2px solid var(--green);
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: normal;
  font-family: var(--ff-main);
  /* box-shadow:3px 3px 2px #827e7e; */
  word-break: break-all;

  margin-top: 5%;
  padding: 5px;
  float: left;
  /* align-self: flex-start; */
  
}

.bocadillos2{
  display: flex;
  flex-direction: column;
  gap: 7px;

}
.bocadilloAmarillo{
 
  /* display: inline-block; */
  min-height: 0;
  max-width: 90%;
 
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  border: 2px solid var(--yellow);
  background-color: white;
  color: black;
  font-size: 1.2em;
  font-family: var(--ff-main);
  align-self: flex-end;
  float: right;
  
  /* box-shadow: 3px 3px 2px #948f8f; */
  word-break: break-all;

  
  margin-top: 2%;
  padding: 5px;
  /* align-self: flex-end; */

  
}

.mensaje{
  /* border: 2px solid black; */
  height: 20.2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  
}
.text{
  /* border:2px solid red; */
  width: 98%;
}

.atras{
  border:2px solid orangered;
  background-color: #ffffff;
  border: none;
  width: 5%;
  height: 6%;
  color:rgba(255, 184, 0, 1);
  font-size: 200%;
  font-weight: bolder;
  margin-bottom: 4%;

} 

/* .bloquear{

  border: none;
  display: flex;
  justify-content: flex-end;
} */



.enviar{
  
  background-color: #ffffff;
  border: 1px solid rgb(158, 158, 158);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px ;
  border-left: none; 
  color: white;
  width: 20%;
  height: 35.8%;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
 .enviar2{
  width: 100%;
  height: 90%;
  margin-bottom: 4% ;
  margin-left: 45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top:8px;
  margin-right: 18px;
  
 }


textarea {
  border: 1px solid rgb(158, 158, 158);
  border-top-left-radius:6px;
  border-bottom-left-radius: 6px;
  border-right: none;
  resize: vertical;
  overflow: hidden;
  width: 100%;
  min-height: 50px; /* altura mínima del textarea */
  max-height: 200px; /* altura máxima del textarea */
  height: 25%;
  margin-top: 2%;
  padding: 2%;
}

.botonAtras{
  /* border: 3px solid purple; */
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2%;
  
}
