@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Quicksand:wght@600&display=swap');

.home {
    /* border: 2px solid black; */
    width: 100vw;
    height: 100vh;
}

.header {
    /* border: 2px solid black; */
    height: 9vh;

}

.caja {
    /* border: 2px solid rgb(60, 255, 0); */
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
}

/* .buscador {
    border: 2px solid brown;
    height: 20%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.caja1 {
    border: 2px solid rgb(0, 0, 0);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.buscar {
    border: none;
    border-radius: 12px;
    background-color: #F5F5F5;
    height: 60%;
    width: 45%;
    display: flex;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.dias {
    border: none;
    border-radius: 12px;
    background-color: #F5F5F5;
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.boton {
    color: white;
    background-color: #FFB800;
    border: none;
    border-radius: 6px;
    height: 60%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-shadow: 0px 3px 6px 0px rgba(84, 83, 83, 0.466);
} */

.caja2 {
    /* border: 2px solid rgb(25, 0, 255); */
    height: 63vh;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.top-viajes {
    /* border: 2px solid black; */
    color: #1F8989;
    height: 28vh;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    font-size: 40px;
    font-family: 'Mulish', sans-serif;

    /* padding-block-end: 20px; */
}

.cards {
    /* border: 2px solid rgb(255, 0, 0); */
    height: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.users {
    /* border: 2px solid black; */
    height: 28vh;
    margin-left: 20px;
    margin-right: 20px;
}

.top {
    /* border: 2px solid black; */
    color: #1F8989;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
    font-family: 'Mulish', sans-serif;
}

.top-nomads {
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.topUsers {
    /* border: 2px solid rgb(255, 0, 0); */

    height: 11vh;
    display: flex;
    justify-content: space-between;
}

.nomads {
    border: 2px solid #1F8989;
    border-radius: 50px;
    height: 65%;
    width: 17%;
    overflow: hidden;
}

.nomads img {
    border-radius: 50px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.footer {
    /* border: 2px solid black; */
    height: 9vh;
}