<div class="home">
    <div class="header"> </div>
    <div class="caja">

        <div class="caja2">
            <div class="top-viajes">
                Top viajes
            </div>
            <div class="cards" *ngFor="let viaje of viajes" routerLink="/paginaViaje">
                <app-card-viaje [cardviaje]="viaje"></app-card-viaje>
            </div>
        </div>
        <div class="users">
            <div class="top">
                <div class="top-nomads">Top Nomads</div>

            </div>
            <div class="topUsers">
                <div *ngFor="let user of users" class="nomads">
                    <a (click)="userPerfil(user.username)">
                        <img src="{{user.photo}}" width="55" height="55">
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>