<div class="home">
    <div class="header"> </div>
    <div class="caja">
        <!-- <div class="buscador">
            <div class="caja1">
                <input class="buscar" [(ngModel)]="inputValue" type="text" placeholder="¿Adónde vas?">
                <select class="dias" name="myFirstSelect" id="selectExample" placeholder="Nº de Dias">
                    <option value="1">1 Dia</option>
                    <option value="2">2 Dias</option>
                    <option value="3">3 Dias</option>
                    <option value="4">4 Dias</option>
                    <option value="5">5 Dias</option>
                </select>

                <button class="boton" type="button" [disabled]="!inputValue" [ngClass]="{ 'disabled': !inputValue }">Mostrar</button>
            </div>
        </div> -->
        <div class="caja2">
            <div class="top-viajes">
                Top viajes
            </div>
            <div class="cards" *ngFor="let viaje of viajes" routerLink="/paginaViaje">
                <app-card-viaje [viaje]="viaje"></app-card-viaje>
            </div>
        </div>
        <div class="users">
            <div class="top">
                <div class="top-nomads">Top Nomads</div>
                <div class="lupa">

                </div>
            </div>
            <div class="topUsers">
                <div class="nomads">
                    <a routerLink="/perfil"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeCsPZIpm52I6alznXfXFH87jOvCte_bB3lQ&usqp=CAU" width="55" height="55"></a>
                </div>
                <div class="nomads">
                  <a routerLink="/perfil"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpLt_LcVUfSHHjUrkKZYJS3U-QnGTDAQ1tjw&usqp=CAU" width="55" height="55"></a>
                </div>
                <div class="nomads">
                  <a routerLink="/perfil"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeMbhNKww6n1J3XGfcp0U6kPveholuR34k5w&usqp=CAU" width="55" height="55"></a>
                </div>
                <div class="nomads">
                   <a routerLink="/perfil"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ60LPForjoLdSw740ItfIKV8RVvi5yqLy3Kw&usqp=CAU" width="55" height="55"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>