<div class="caja">
    <div class="titulo">¿Quiénes somos?</div>
    <div class="nosotros">

        <div class="filas">
            <div class="cajaFoto">
                <img src="assets/1122fa5f-bb73-40ec-9ed0-c755411c3973.jpeg" alt="" height="90" width="90">
            </div>
            <div class="cajaDescripcion">
                <p>Mi nombre es Julio y soy desarrollador web full stack.</p>
                <a class="linkedin" href="https://linkedin.com/in/julio-perez-obrero-a7261b11b/"> <img
                        src="assets/logos/Diseño_sin_título__1_-removebg-preview.png" height="20" width="20"></a>
               
            </div>
        </div>

        <div class="filas">
            <div class="cajaDescripcion">
                <p>Mi nombre es Rebeca y soy desarrolladora web full stack.</p>
                <a class="linkedin" href="https://www.linkedin.com/in/rebecarello/"> <img
                        src="assets/logos/Diseño_sin_título__1_-removebg-preview.png" height="20" width="20"></a>
            </div>
            <div class="cajaFoto">
                <img src="assets/d33f54ca-a0fe-4f44-9060-ab87e3f36ea7.jpeg" alt="" height="90" width="90">

            </div>
        </div>

        <div class="filas">
            <div class="cajaFoto">
                <img src="assets/b020a6bf-3585-4b0a-88ea-e5a6d2f71132.jpeg" alt="" height="90" width="90">

            </div>
            <div class="cajaDescripcion">
                <p>Mi nombre es Sara y soy desarrolladora web full stack.</p>
                <a class="linkedin" href="https://www.linkedin.com/in/saravsanchezparra/"> 
                    <img src="assets/logos/Diseño_sin_título__1_-removebg-preview.png" height="20" width="20">
                    
                </a>
           
            </div>
        </div>
        <div class="filas">
            <div class="cajaDescripcion">
                <p>Mi nombre es Estefania y soy desarrolladora web full stack.</p>
                <a class="linkedin" href="https://www.linkedin.com/in/estefania-cueva-vivas-ba47891b9/"> <img
                        src="assets/logos/Diseño_sin_título__1_-removebg-preview.png" height="20" width="20"></a>
            </div>
            <div class="cajaFoto">
                <img src="assets/6468c6a8-02eb-4a3e-9f1a-7969992c6975.jpeg" alt="" height="90" width="90">

            </div>
        </div>
        <div class="filas">
               <div class="cajaFoto">
                <img src="assets/416c4ac3-f660-466d-a5e1-9fcaaac432b1.jpeg" alt="" height="90" width="90">

               </div>
            <div class="cajaDescripcion">
                <p>Mi nombre es Amber y soy desarrolladora web full stack.</p>
                <a class="linkedin" href="https://linkedin.com/in/amber-cayuela-bbb973159/"> <img
                        src="assets/logos/Diseño_sin_título__1_-removebg-preview.png" height="20" width="20"></a>
            
            </div>
        </div>
    </div>
</div>