<div class="mod-viaje">
    <div class="title">
        <h3>Modificar viaje</h3>
    </div>
    <div class="form-area">
        <form [formGroup]="modifyForm" class="form">
            <!-- Nombre de Viaje -->
            <label for="nombreViaje">Nombre del Viaje</label>
            <input id="nombreViaje" placeholder={{viaje.title}} type="text" formControlName="nombreViaje"
                class="form-control"
                [ngClass]="{'is-invalid': modifyForm.get('nombreViaje').invalid && (modifyForm.get('nombreViaje').dirty || modifyForm.get('nombreViaje').touched)}">
            <div *ngIf="modifyForm.get('nombreViaje').invalid && (modifyForm.get('nombreViaje').dirty || modifyForm.get('nombreViaje').touched)"
                class="invalid-feedback">
                El nombre del viaje es necesario
            </div>
            <!-- Descripcion Viaje -->
            <label for="descripcionViaje">Descripcion del Viaje</label>
            <input id="descripcionViaje" type="text" formControlName="descripcionViaje" class="form-control"
            placeholder="{{viaje.description}}"
                [ngClass]="{'is-invalid': modifyForm.get('descripcionViaje').invalid && (modifyForm.get('descripcionViaje').dirty || modifyForm.get('descripcionViaje').touched)}">
            <div *ngIf="modifyForm.get('descripcionViaje').invalid && (modifyForm.get('descripcionViaje').dirty || modifyForm.get('descripcionViaje').touched)"
                class="invalid-feedback">
                Una breve descripcion del viaje es necesaria
            </div>
            <!-- Lugar Viaje -->
            <label for="lugarViaje">Lugar del Viaje</label>
            <input id="lugarViaje" type="text" formControlName="lugarViaje"
                class="form-control">
            <!-- Foto -->
            <label for="fotoViaje">Foto</label>
            <input id="fotoViaje" type="text" formControlName="fotoViaje" class="form-control"
            placeholder="{{viaje.main_img}}"
                [ngClass]="{'is-invalid': modifyForm.get('fotoViaje').invalid && (modifyForm.get('fotoViaje').dirty || modifyForm.get('fotoViaje').touched)}">
            <div *ngIf="modifyForm.get('fotoViaje').invalid && (modifyForm.get('fotoViaje').dirty || modifyForm.get('fotoViaje').touched)"
                class="invalid-feedback">
                Una foto del viaje es necesaria
            </div>
            </form>
            <div class="day-area">
                <ng-container *ngFor="let dia of viaje.days; let i = index">
                    <app-day-card [dia]="dia" [i]="i" (cardEvent)="eliminate($event)"></app-day-card>
                </ng-container>
            </div>
            <div class="btn-area">
                <button type="button" [disabled]="modifyForm.invalid" (click)="modify()">Modificar viaje</button>
            </div>
        
    </div>
</div>