<div class="day-card">
  <div class="day-card-title">
    <h3>Dia {{ i + 1 }}</h3>
    <div class="btn-area">
      <div *ngIf="own">
        <ng-container class="options-btns">
          <button type="button" class="icono" (click)="openDialog()">
          <img src="assets/basuraVerde.png" width="25" height="25" alt="borrar" />
        </button>
        </ng-container>
        
        
      </div>
      <button class="show" type="button" (click)="onClick()">
        {{ ReadMore ? "+" : "-" }}
      </button>
    </div>
  </div>

  <ng-container *ngIf="visible">
    <div class="content">
      <ng-container *ngFor="let puntoDeInteres of dia.puntosDeInteres">
        <app-punto-de-interes-card
          [puntoDeInteres]="puntoDeInteres"
        ></app-punto-de-interes-card>
      </ng-container>
    </div>
  </ng-container>
</div>
