<div class="caja">
    <div class="texto">
        <div class="app">
            <div class="titulo">¿De qué trata esta app?</div>
            <div class="descripcion">Nuestro objetivo es ayudarte con
                excursiones ya planificadas en diferentes puntos de España.  <br>
                Además, si eres un Nomad, podrás subir
                excursiones para que los demás usuarios lo vean y puedan calificarte.</div>
        </div>
    </div>
    <div class="nomad">Nomads</div>
    <div class="mundo">
        <img src="assets/mitad mundo verde.png" alt="" height="200" width="420">
    </div>
</div>