@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Shadows+Into+Light&display=swap');

header{
    position: fixed;
    top:0;
    left:0;
    background-color: #1F8989;
    width: 100vw;
    height: 6vh;
  }

  .brand{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 19pt;
    color: #ffb800;
    margin-left: 3%;
    display: flex;
    flex-direction: row;

  }
  img{
    margin-top: 4px;
    width: 12%;
    height: 12%;
  }

    .name{
        margin-top: 3px;
    
        font-family: 'Shadows Into Light', cursive;
   }
   