<header>
  <div class="brand">
    <img src="../../../assets/mundo verde.png" alt="favicon">
      <p class="name">Nomads</p>
      <div class="overlay" *ngIf="menuVisible" (click)="ocultarMenu()"></div>
      <div class="menu-container" [class.visible]="menuVisible">
        <li><a href="/quienesSomos">¿Quiénes somos?</a></li>
        <li><a href="/contactanos">Contáctanos</a></li>
        <li><a href="/onBoarding">Onboard</a></li>
        <li id="ultimo"><a href="/sobreLaApp">Sobre la app</a></li>
      </div>
      <div class="imagen-container">
        <img class="imagenMenu" src="assets/menuHamburguesa.png" (click)="mostrarMenu()" />
      </div>

  </div>
</header>