

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(31, 137, 137, 1);
}

.padre{
  
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 gap: 4%;
}


.title{
  
  color:rgba(255, 184, 0, 1);
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  
  
}

img{
  width: 70%;
  height: 60%;
 
}

h1{

  font-family: 'Shadows Into Light', cursive;
  font-size: 400%;
  font-weight: lighter;
}

form{

  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;

}
.nombre{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20%;
}

.password{
  width: 100%;
  height: 50%;
  border-radius: 6%;
  border: 4px solid rgb(92, 215, 123);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input{

  border-radius: 12px;
  height: 47%;
  border: none;
  text-align: center;
}

button{
  color: rgba(255, 184, 0, 1);
  font-size: 150%;
  border-radius: 6px;
  height: 80%;
  background-color: rgba(31, 137, 137, 1);
  border: 1px solid rgba(255, 184, 0, 1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
  font-family: 'Quicksand', sans-serif;
  
}

.submit{

  width: 95%;
  height: 20%;
  border-radius: 6%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  
  
  /* justify-content: center; */
}

.frase{
 
  height: 20%;
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

