<main class="fondo">
  <div class="padre">
    <div class="title">
      <img src="../../../assets/logo_verde.png" alt="img">
      <h1>Nomads</h1>
    </div>

    <form #userForm ="ngForm" (ngSubmit)="onSubmit(userForm)">
      <div class="nombre">
        <input type="text" name = "name" class="form-control" placeholder=" Nombre de usuario" pattern="^@.+" required [(ngModel)]="user.username"  #nameId="ngModel"
        [ngClass]="{'is-invalid':(nameId.dirty || nameId.touched) && nameId.invalid}"required/>
        <div *ngIf="(nameId.dirty || nameId.touched) && nameId.invalid" class="invalid-feedback">
          <p class ="validacion"*ngIf="nameId.errors.required">El nombre de @usuario es obligatorio</p>
          <p class="validacion" *ngIf="nameId.errors.pattern">El nombre de usuario debe comenzar con @</p>
        </div>
      
        <input type="password" name ="password" class = "form-control" placeholder=" Contraseña" [(ngModel)]="user.password" #passwordId="ngModel" 
        [ngClass]="{'is-invalid':(passwordId.dirty || passwordId.touched)&& passwordId.invalid}" minlength="8" required/>
        <div  style="margin-bottom: 4%;" *ngIf="(passwordId.dirty || passwordId.touched)&& passwordId.invalid" class="invalid-feedback">
          <div class ="validacion"*ngIf="passwordId.errors.required">La clave es obligatoria</div>
          <div class ="validacion" *ngIf="passwordId.errors.minlength">La clave debe tener al menos 8 caracteres</div>

        </div>
      </div>

      <div class="submit">
        <button class="entrar" type="submit" [disabled]="!(userForm.valid)"
        >Entrar</button>
        <div class="frase"> ¿No estás registrado? Regístrate <span style="margin: 0 5px;"><button class="aqui" type="button" (click)="registrateAqui()" style="color: rgba(255, 184, 0, 1);">aquí</button></span></div>
      </div>
    </form>
  </div> 
</main> 
