
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
}

.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(31, 137, 137, 1);
}

.padre{
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 gap: 4%;
}


.title{
  
  color:rgba(255, 184, 0, 1);
  width: 100%;
  height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  
  
}

img{
  width: 70%;
  height: 70%;
 
}

h1{

  font-family: 'Shadows Into Light', cursive;
  font-size: 400%;
  font-weight: lighter;
}

form{
   /* border: 3px solid black; */
  width: 80%;
  height: 50vh;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;

}
.nombre{
  /* border: 2px solid rgb(60, 207, 60); */
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12%;
}

.password{
  /* border: 3px solid purple;  */
  width: 100%;
  height: 40vh;
  border-radius: 6%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

input{
  height: 7vh;
  border-radius: 12px;
  border: none;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
 
  
}

.entrar{
 
  color: rgba(255, 184, 0, 1);
  font-size: 150%;
  border-radius: 6px;
  height: 80%;
  background-color: rgba(31, 137, 137, 1);
  border: 1px solid rgba(255, 184, 0, 1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
  font-family: 'Quicksand', sans-serif;
  
}

.submit{
  /* border: 2px solid red; */
  width: 95%;
  height: 30%;
  border-radius: 6%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    
  
  /* justify-content: center; */
}

.frase{
 
  height: 20%;
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
  font-family: 'Quicksand', sans-serif;
  color: white;
}


.aqui{
  border: none;
  background-color:rgba(31, 137, 137, 1) ;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;

}
