<div class="viajes">
    <div class="searchbars">
        <h1>Viajes en Madrid</h1>
        <!-- {{viajes.destination}} -->
    </div>
    <div class="area-viajes">
        <div class="noViajes" *ngIf="viajesADestino.length == 0; else showViajes">
            <h3>No hay viajes para ese destino todavia</h3>
        </div>
        <ng-template #showViajes>
            <ng-container *ngFor="let viaje of viajesADestino">
                <app-card-viaje [cardviaje]="viaje"></app-card-viaje>
            </ng-container>
        </ng-template>
    </div>
</div>