<div class="cuerpo">
    <div class="titulo">Contáctanos</div>
    <div class="caja">
        <input class="nombreYapellidos" type="text" placeholder="Nombre y apellidos">
        <input class="asunto" type="text" placeholder="Asunto">
        <input class="email" type="text" placeholder="Email">
        <textarea name="" id="" cols="1" rows="50" class="mensaje" type="text" placeholder="Escribe tu mensaje..."></textarea> 
    </div>
    <div class="caja2">
        <div class="boton">
            <button class="enviar" type="button">Enviar</button>
        </div>
        <div class="paginas">
            <div class="donde">Puedes encontrarnos en:</div>
            <div class="enlaces">
            <a href="https://es-es.facebook.com/"> <img src="assets/logos/Diseño_sin_título-removebg-preview (2).png" height="25" width="25"></a> 
             <a href="https://twitter.com/"><img src="assets/logos/Diseño_sin_título-removebg-preview (3).png" height="25" width="25"></a> 
             <a href="https://www.instagram.com/"><img src="assets/logos/Diseño_sin_título-removebg-preview (4).png" height="25" width="25"></a>
            </div>
        </div>
    </div>
</div>