<div class="cuerpo">
    <div class="titulo">Contáctanos</div>

    <div class="caja">
        <form [formGroup]="myForm" ngModelOptions="{updateOn: 'submit'}">
            <div class="nombreYapellidos">
                <input type="text" placeholder="Nombre y Apellidos" formControlName="nombre" class="form-control"
                    [ngClass]="{'is-invalid': (myForm.get('nombre').dirty || myForm.get('nombre').touched) && !myForm.get('nombre').valid}" />
                <div *ngIf="!myForm.get('nombre').valid" class="invalid-feedback">
                    Campo obligatorio.
                </div>
            </div>
            <div class="asunto">
                <input type="text" placeholder="Asunto" formControlName="asunto" class="form-control"
                    [ngClass]="{'is-invalid': (myForm.get('asunto').dirty || myForm.get('asunto').touched) && !myForm.get('asunto').valid}" />
                <div *ngIf="!myForm.get('asunto').valid" class="invalid-feedback">
                    Campo obligatorio.
                </div>
            </div>
            <div class="email">
                <input type="email" placeholder="Correo electrónico" formControlName="email" class="form-control"
                    [ngClass]="{'is-invalid': (myForm.get('email').dirty || myForm.get('email').touched) && !myForm.get('email').valid}" />
                <div *ngIf="!myForm.get('email').valid" class="invalid-feedback">
                    <div *ngIf="myForm.get('email').errors.required">Campo obligatorio.</div>
                    <div *ngIf="myForm.get('email').errors.email">
                        Direccion de email incorrecta
                    </div>
                </div>
            </div>
            <textarea name="" id="" cols="1" rows="50" class="mensaje" type="textarea"
                placeholder="Escribe tu mensaje..." formControlName="mensaje"   [ngClass]="{'is-invalid': (myForm.get('mensaje').dirty || myForm.get('mensaje').touched) && !myForm.get('mensaje').valid}"></textarea>
            <div *ngIf="myForm.get('mensaje').invalid && (myForm.get('mensaje').dirty || myForm.get('mensaje').touched)"
                class="invalid-feedback">
                Campo obligatorio.
            </div>
        </form>
    </div>
  
    <div class="caja2">
        <div class="boton">
            <button class="enviar" type="button" [disabled]="!myForm.valid" (click)="enviarCorreo()">Enviar</button>   
        </div>
        <div class="paginas">
            <div class="donde">Puedes encontrarnos en:</div>
            <div class="enlaces">
                <a href="https://es-es.facebook.com/"> <img
                        src="assets/logos/Diseño_sin_título-removebg-preview (2).png" height="25" width="25"></a>
                <a href="https://twitter.com/"><img src="assets/logos/Diseño_sin_título-removebg-preview (3).png"
                        height="25" width="25"></a>
                <a href="https://www.instagram.com/"><img src="assets/logos/Diseño_sin_título-removebg-preview (4).png"
                        height="25" width="25"></a>
            </div>
        </div>
    </div>
</div>