<div class="cuerpo">
    <div class="titulo">Contáctanos</div>
    <div class="caja">
        <input class="nombreYapellidos" type="text" placeholder="Nombre y apellidos">
        <input class="asunto" type="text" placeholder="Asunto">
        <input class="email" type="text" placeholder="Email">
        <input class="mensaje" type="text" placeholder="Escribe tu mensaje...">
    </div>
    <div class="caja2">
        <div class="boton">
            <button class="enviar" type="button">Enviar</button>
        </div>
        <div class="paginas">
            <div class="donde">Puedes encontrarnos en:</div>
            <div class="enlaces">
                <img src="assets/logos/Diseño_sin_título-removebg-preview (2).png" height="25" width="25">
                <img src="assets/logos/Diseño_sin_título-removebg-preview (3).png" height="25" width="25">
                <img src="assets/logos/Diseño_sin_título-removebg-preview (4).png" height="25" width="25">
            </div>
        </div>
    </div>
</div>