*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   

}
h1{
  text-align: center;
  width: 100%;
  color: #1f8989;
  font-family: 'Mulish', sans-serif;  
  font-weight: 500;  
  font-size: 36px;
  
}
.fotoPerfil {
    
    background: none;
    z-index: 8;
    margin-top: 3vh;
    height: 13vh;
    display:flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    border-radius: 60px;
    height: 150px;

  }
  #perfilImg{
    border-radius: 100px;
    width:35%;
    object-fit: cover;
    height: 80%;
    margin-top: 3%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;

    
  }
  
  label {
    font-weight: lighter;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    background-color: #eaeaea;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
  }
  
  button[type="button"] {
    background-color: #ffb800;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="button"]:hover {
    background-color: #1f8989;
  }
  
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
button[type="button"] {
  box-shadow: 0 0 5px rgba(3, 0, 0, 0.1);
}

.backButton{
  margin-top: 13vh;
  background-color: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.atras{
border: none;
width: 2rem;
color:rgba(255, 184, 0, 1);
font-size: 200%;
font-weight: bolder;
background-color: white;


} 