<div class="fondo">
 
  <div class="titulo"> 
    <div class="modificar">
    <button *ngIf="chatPrincipal" class="atras"  (click)="resetearBusqueda()"><</button>
      <div>
        <p>CHATS</p>
      </div> 
       
    </div>
    <span>
      <input type="text" [(ngModel)]="textoBusqueda">
      <button class="buscar" id="search-button" type="submit" (click)="buscarUsuario()"><img  src="../../../assets/Lupa/Lupa_Sin_Background.png" alt=""></button>
    </span>
      
    
  </div>

 
 
  <div class="container">
    <div *ngIf="chatBuscado">
      <!-- <button class="atras"  (click)="resetearBusqueda()"><</button> -->
      <app-card-chat [cardGeneral]="chatBuscado"></app-card-chat>

    </div>

    <div *ngIf="usuarioNoEncontrado ">
      <!-- <button class="atras"  (click)="resetearBusqueda()"><</button> -->
      <p class="noEncontrado">Usuario No Encontrado</p>
    </div>
    <div *ngIf="!chatBuscado && !usuarioNoEncontrado">
    <div *ngIf="!chatBuscado">
      <div *ngFor="let chat of chats">
        <app-card-chat [cardGeneral]="chat" (eliminarTarjeta)="eliminarTarjeta(chat)"></app-card-chat>
      </div>
    </div>
  </div>
</div>
