<div class="fondo">
 
  <div class="titulo"> 
    <div class="modificar">
      <ng-container *ngIf="!chatPrincipal" >
        <button class="atras"  (click)="resetearBusqueda()"> < </button>
      </ng-container>
      <div>
        <p>CHATS</p>
      </div> 
       
    </div>
    
    <span>
      <input type="text" [(ngModel)]="textoBusqueda">
      <button class="buscar" id="search-button" type="submit" (click)="buscarUsuario()"><img  src="../../../assets/Lupa/Lupa_Sin_Background.png" alt=""></button>
    </span>
      
    
  </div>
 
  <div class="container">
    <div *ngIf="chatsMostrados.length > 0 && (!buscandoUsuario || usuarioEncontrado)">
      <div *ngFor="let chat of chatsMostrados; let i = index">
        <app-card-chat [cardGeneral]="chat" (eliminarTarjeta)="eliminarTarjeta(chat)"></app-card-chat>
      </div>
    </div>

    <div *ngIf="!usuarioEncontrado && buscandoUsuario">
      <p class="noEncontrado">Usuario No Encontrado</p>
    </div>

    <div *ngIf="chatsMostrados.length == 0  && !buscandoUsuario">
      <div class="NoChats" *ngIf="chatsMostrados.length === 0">
        <p class="noChats">No Hay Chats Disponibles</p>
      </div>
    </div>
  </div>
</div>
