<div class="fondo">
 
  <div class="titulo"> 
     
    <h1>CHATS</h1>
    <form>
      <label for="search">Search</label>
      
      <input required pattern=".\S." type="search" class="input" id="search" name="search" [(ngModel)]="textoBusqueda" (keyup)="mostrarBotonBusqueda()" (blur)="mostrarBotonBusqueda()">
      <span class="caret"></span>
      <button class="buscar" id="search-button" type="submit" (click)="buscarUsuario()">Buscar</button>
    </form>
  </div>

 
 
  <div class="container">
    <div *ngIf="chatBuscado">
      <button class="atras"  (click)="resetearBusqueda()"><</button>
      <app-card-chat [cardGeneral]="chatBuscado"></app-card-chat>

    </div>

    <div *ngIf="usuarioNoEncontrado">
      <button class="atras"  (click)="resetearBusqueda()"><</button>
      <p>Usuario no encontrado</p>
    </div>
    <div *ngIf="!chatBuscado && !usuarioNoEncontrado">
    <div *ngIf="!chatBuscado">
      <div *ngFor="let chat of chats">
        <app-card-chat [cardGeneral]="chat" (eliminarTarjeta)="eliminarTarjeta(chat)"></app-card-chat>
      </div>
    </div>
  </div>
</div>
