<div class="home">
    <div class="header"> </div>
    <div class="caja">
        <div class="buscador">
            <div class="caja1">
                <input class="buscar" [(ngModel)]="inputValue" type="text" name="destino" placeholder="¿Adónde vas?">
                <select class="dias" name="dias" [(ngModel)]="diasSeleccionados" id="selectExample"
                    placeholder="Nº de Dias" required title="Debes introducir un destino">
                    <option value="1">1 Dia</option>
                    <option value="2">2 Dias</option>
                    <option value="3">3 Dias</option>
                    <option value="4">4 Dias</option>
                    <option value="5">5 Dias</option>
                </select>

                <button class="boton" type="button" [disabled]="!inputValue"
                    [ngClass]="{ 'disabled': !inputValue }"
                    (click)="buscarViajes(inputValue, diasSeleccionados)">Mostrar</button>
            </div>

        </div>
        <div class="caja2">
            <div class="top-viajes">
                Top viajes
            </div>
            <div class="cards" *ngFor="let viaje of viajes">
                <app-card-viaje [cardviaje]="viaje"></app-card-viaje>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>