@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Quicksand&display=swap');

.home {
    /* border: 2px solid black; */
    width: 100vw;
    height: 100vh;
}

.header {
    /* border: 2px solid black; */
    height: 9vh;
}

.caja {
    /* border: 2px solid rgb(60, 255, 0); */
    width: 100%;
    height: 85%;
}

.buscador {
    /* border: 2px solid brown; */
    height: 20%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.caja1 {
    /* border: 2px solid rgb(0, 0, 0); */
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.buscar {
    border: none;
    border-radius: 12px;
    background-color: #F5F5F5;
    height: 45%;
    width: 45%;
    display: flex;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
}

.buscar:invalid {
    border: 2px solid red;
}

/* .buscar::placeholder {
    padding-left: 8px;
} */

.dias {
    border: none;
    border-radius: 12px;
    background-color: #F5F5F5;
    height: 45%;
    width: 25%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.boton {
    color: white;
    background-color: #FFB800;
    border: none;
    border-radius: 6px;
    height: 45%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    box-shadow: 0px 3px 6px 0px rgba(84, 83, 83, 0.466);
}

.caja2 {
    /* border: 2px solid rgb(25, 0, 255); */
    height: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

.top-viajes {
    /* border: 2px solid black; */
    color: #1F8989;
    height: 16%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    font-family: 'Mulish', sans-serif;
}

.cards {
    /* border: 2px solid rgb(255, 0, 0); */
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

/* .cards1 {
    border: 2px solid #1F8989;
    border-radius: 6px;
    height: 30%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.cards2 {
    border: 2px solid #1F8989;
    border-radius: 6px;
    height: 30%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.cards3 {
    border: 2px solid #1F8989;
    border-radius: 6px;
    height: 30%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.foto1 {
    border: 1px solid gray;
    border-radius: 4.8px 0px 0px 4.8px;
    background-size: cover;
    height: 100%;
    width: 30%;
}

.foto1 img {
    border-radius: 4px 0px 0px 4px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.foto2 {
    border: 1px solid gray;
    border-radius: 4.8px 0px 0px 4.8px;
    background-size: cover;
    height: 100%;
    width: 30%;
}

.foto2 img {
    border-radius: 4px 0px 0px 4px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.foto3 {
    border: 1px solid gray;
    border-radius: 4.8px 0px 0px 4.8px;
    background-size: cover;
    height: 100%;
    width: 30%;
}

.foto3 img {
    border-radius: 4px 0px 0px 4px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.texto {
    border: 2px solid black;
    height: 100%;
    width: 50%;
}

.titulo {
    border: 2px solid black;
    height: 45%;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.descripcion {
    border: 2px solid black;
    height: 55%;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: start;
    margin-left: 8px;
}

.like {
    border: 2px solid black;
    width: 20%;
}

.user {
    border: 2px solid black;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.likes {
    border: 2px solid black;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto2 {
    border: 2px solid black;
    height: 100%;
    width: 50%;
}

.titulo2 {
    border: 2px solid black;
    height: 45%;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.descripcion2 {
    border: 2px solid black;
    height: 55%;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: start;
    margin-left: 8px;
}

.texto3 {
    border: 2px solid black;
    height: 100%;
    width: 50%;
}

.titulo3 {
    border: 2px solid black;
    height: 45%;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.descripcion3 {
    border: 2px solid black;
    height: 55%;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: start;
    margin-left: 8px;
}
 */