/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
:root {
  --yellow: #FFB800;
  --green: #1F8989;
  --grey: #fafafa;
  --ff-titles: 'Mulish', sans-serif;
  --ff-main: 'Quicksand', sans-serif;
  --ff-nomads: 'Shadows Into Light Two', cursive;
  --border: '6px';
}

@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;

}

input {
  padding: 1rem;
  text-align: left;
}

input:focus::placeholder {
  color: transparent;
}


/* Responsive Design*/

 @media screen and (min-width:241px) and (max-width:392px) {
 
  /*landing-page:mundo que gira*/
 .logo{
  /* border:2px solid purple;  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; 
  max-width:300px;
   margin-left: 20px; 
  
  } 
  /*Header verde:bola mundo a la izqda del todo*/
  .bolaMundo img{
  /* border:2px solid purple;  */
  position:relative;
  max-width:55px ;
  max-height: 55px;
  margin-top: 3px; 

  }
 /*Header verde:nombre Nomads*/
 .name{ 
   /* border:2px solid white;  */
   margin-right:300px;
 }
/*Header verde:padre de icono de acceso de usuario y menú hamburguesa(rayas no desplegado)*/
 .imagen-container{
  
 /* border:2px solid purple;  */
 max-height:20px;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 margin-top: 10px;

} 

}    

 @media all and (min-width:391px) and (max-width:8000px) {
  
  /*landing-page:mundo que gira*/
  .logo{
    /* border:2px solid purple; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:1500px;
   

  }

   /*landing-page:Nomads*/
  .animate-right{
    /* border:2px solid purple; */
    padding: 15px 15px 15px 20px;
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-left: 100px;
    position: relative;
    
    
  }

  /*landing-page:Unete a la aventura*/
  .animate-left{
    /* border:2px solid purple; */
    padding: 15px 15px 15px 20px;
    width: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-left: 100px;
    position: relative;
  }

    /*landing-page:mundo que gira*/
  .logo img{ 
    /* border:2px solid purple; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; 
    /* padding-left: 80%;
    /* position:relative;
    max-width:300px ;
    max-height: 300px;*/
   
  }  
  
  /*Login:imagen mundo*/
 .title img{
    /* border:2px solid purple; */
    max-width: 195.44px;
    max-height:190.52px;
  } 

  /*home-loged:Frase TopNomads y padre fotos de top nomads*/
.users{
  /* border:2px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*home-loged:fotos de top nomads*/
  .topUsers { 
     /* border: 2px solid rgb(255, 0, 0);  */
     height: 400.2px;
    width:300.2px;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    text-align: center;
    gap: 2%;
    margin-top: 15px;
   
   
 
} 
/*home-no logged: Titulo: Top viajes*/
 .top-viajes{
   /* border:2px solid purple; */
  display: flex;
  flex-direction:row ;
  justify-content: center;
  align-items: center;
  
} 


/*Header verde:bola mundo a la izqda del todo*/
.bolaMundo img{
   /* border:2px solid purple; */
  width: 70.08px;
  height: 70.08px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*Header verde:menú hamburguesa(las rayas, no expandido)*/
.imagenMenu {
  /* border:2px solid purple; */
  max-width:117.4px;
  max-height:101.28px;
  margin-right: -13%;
  
}


/*Home logged:parte central entre el header y el footer*/
.caja{
    /* border:2px solid purple; */
  padding: 15px 15px 15px 20px;
  width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}

/*home no logged:padre de titulo top viajes y card de esos viajes*/
.caja2{
  /* border:2px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;


}
/*home no logged:las propias cards de top viajes*/
.cards{
  /* border:2px solid purple; */
  max-width: 457.79px;
  min-width: 457.78px;
  min-height: 110px;
  max-height: 110px;
  gap:20px;
 
}
/*home no logged:contenedor de inputs y botón para buscar viajes*/
.buscador{
  /* border:2px solid purple; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 600px;
  max-width: 900px;
  min-height: 150px;
  margin-bottom: 10px;
  }
/*footer no logged:icono de inicio*/
.footer_noLoged svg{
  /* border:2px solid purple; */
  max-width: 48.48px;
  max-height: 52.52px;
}
/*Header verde: padre icono de acceso de usuario*/
.imagen-container{
  /* border:2px solid purple; */
  max-width:100.4px;
  max-height:100.28px;
  min-height: 80.28px;
  min-width: 80.28px;
  margin-right: 8%; 
  
 }
/*Header verde: icono de acceso de usuario*/
  .primaryButton svg{
    /* border:2px solid purple; */
    max-width: 59.51px;
    max-height: 59.51px;
    margin-bottom: 8px; 
    
 }
/* Footer loged:cada uno de los iconos, menos la lupa*/
  .footer_loged svg {
    /* border:2px solid purple; */
    max-width: 48.48px;
    max-height: 52.52px;
  }
    

/*landing page: padre de todo lo que contiene la pagina*/
  .fondo{
     /* border:2px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
/*landing page:nombre app y únete a la aventura*/
  .nombre{
  /* border:2px solid purple; */
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}  
/*Login:los dos inputs de usuario y contraseña*/
  .form-control{
     /* border:2px solid purple; */
    padding: 15px 15px 15px 20px;
    width: 25em;
    
  }
/*Login:botón de entrar*/
  .entrar {
     /* border:2px solid purple; */
    padding: 15px 15px 15px 20px;
    width: 25em;
}
/*Chats General:las cards*/
  .padre{
      /* border:2px solid purple; */
    padding: 15px 15px 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 


 }
 
