<!-- componente card viaje -->
<div class="card" >
  
    <div class="img"(click)="goToViaje()">
        <img src='{{cardviaje.foto}}'>

    </div>
    <div class="info"(click)="goToViaje()">
        <div class="title">{{cardviaje.titulo}}</div>
        <div class="desc">{{cardviaje.descripcion}}</div>
    </div>
    <div class="like">
        <div class="user-options" *ngIf="areMisViajes(); else profileView">
            <!-- Compare against viaje.user.username -->
            <button type="button" class="icono" (click)="openDialog()"><img src="assets/borrar.png" width="20" height="20" alt="borrar"></button>
            <button type="button" class="icono" (click)="editarViaje()"><img src="assets/lapiz.png" width="20" height="20" alt="editar"></button>
        </div>
        <ng-template class="user" #profileView>
            <img src="{{cardviaje.user_foto}}" width="45" height="45" (click)="goProfile()">
            <!-- src: {{viaje.user.photo}} -->
        </ng-template>
        <div class="likes">
            <img src="assets/corazon.png" width="20" height="20">
            <p>{{cardviaje.likes}}</p>
        </div>
    </div>

</div>