
<!-- componente card viaje -->
<div class="card" >
    <div class="img">
        <img src= 'https://media.istockphoto.com/id/1059076792/es/foto/madrid-ciudad-skyline-gran-v%C3%ADa-calle-crep%C3%BAsculo-espa%C3%B1a.jpg?s=612x612&w=0&k=20&c=gWGpBRHVNJleHrVRmetRPTFuau_aahvCUKDMNfCrMNE='>
        
    </div>
    <div class="info">
        <div class="title">Título</div>
        <div class="desc">Descripción</div>
    </div>
    <div class="like">
        <div class="user">
            <img src="assets/perfil.png" width="45" height="45">
        </div>
        <div class="likes">
            <img src="assets/corazon.png" width="20" height="20">
            <p>490</p>
        </div>
    </div>
</div>

